{
    # Debug mode (disable it in production!)
    debug
    # HTTP/3 support
    experimental_http3
}

# The address of your server
localhost:80

# enable logs
log

route {
    # redirect to ui
    redir / /.well-known/mercure/ui/

    mercure {
        demo
        # Publisher JWT key
        publisher_jwt %AliPticGroupe1!
        # Subscriber JWT key
        subscriber_jwt %AliPticGroupe1!
        cors_origins http://localhost:8090
        publish_origins http://localhost:8090
        anonymous
    }

    respond "Not Found" 404
}